.btn-blue {
color: #ff0;
border: 5px solid #ff0;
border-radius: 2px;
padding: 10px;
font-family: Oswald, sans-serif;
font-weight: 600;
font-size: 1.5em;
text-decoration: none;
 &:hover {
background: #ff0;
border-color: #fe2cbc;
text-decoration: none;
}
}
